{{#each this}}
  <li class='country-list__item'>
    <img
      src='{{flags.png}}'
      alt='{{name.common}}'
      width='75px'
      height='50px'
      class='country-list__img rounded'
    />
    <h2>{{name.common}}</h2>
  </li>
{{/each}}